.App {
  text-align: center;
  font-family: "Lora", serif;
  color: white;
  padding-top: 50px;
}

body {
  background-image: url("https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.moonApp h1 {
  margin: 50px;
  font-family: "Playfair Display", serif;
}

.App a {
  color: #c874b2;
  text-decoration: none;
}

.App a:hover {
  color: #7b337d;
}

.tasklist {
  background: rgba(74, 74, 74, 0.2);
  height: 100%;
  border-radius: 10px;

  margin-bottom: 150px;
}

@media (max-width: 653px) {
  footer {
    font-size: 13px;
  }
}
