ul {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline;
}

h2 {
  margin-bottom: 0px;
  margin-top: 20px;
}

span {
  color: #7b337d;
}

@media (max-width: 653px) {
  li {
    font-size: 10px;
  }
}
